SampleXSD.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ship-via">
    <xs:restriction base="xs:int">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="freight">
    <xs:annotation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ship-name">
    <xs:annotation>
      <xs:documentation>
        Ship Name
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='ShipInfoType'>
    <xs:sequence>
      <xs:element name='ship-via' type='ship-via'/>
      <xs:element name='freight' type='freight'/>
      <xs:element name='ship-name' type='ship-name'/>
      <xs:element name='ship-address' type='xs:string'/>
      <xs:element name='ship-city' type='xs:string'/>
      <xs:element name='ship-region' type='xs:string'/>
      <xs:element name='ship-postal-code' type='xs:string'/>
      <xs:element name='ship-country' type='xs:string'/>
    </xs:sequence>
    <xs:attribute name='shipped-date' type='xs:dateTime'/>
  </xs:complexType>
</xs:schema>
